# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [59]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.

In [60]:
dataframes = []
for i in range(10):
    info = pd.read_csv(f"Data/Students_info_{i}.csv")
    marks = pd.read_csv(f"Data/Students_marks_{i}.csv")
    dataframes.append(pd.merge(info, marks, on="index", how="right"))  # объединяем таблицы с инфой и оценками по индексу
df = pd.concat(dataframes)  # склеиваем строки всех фреймов в одну таблицу

df.sample(n=10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
41,541,male,group D,associate's degree,free/reduced,completed,group6,79,82,80
6,806,female,group D,some college,free/reduced,none,group9,64,74,75
69,369,female,group D,some high school,standard,none,group4,73,84,85
48,748,female,group C,bachelor's degree,free/reduced,none,group8,50,60,59
71,371,female,group C,some college,free/reduced,completed,group4,45,73,70
88,788,male,group C,associate's degree,free/reduced,none,group8,68,65,61
18,818,female,group B,high school,free/reduced,none,group9,60,72,68
48,548,female,group C,high school,free/reduced,none,group6,62,67,64
14,914,female,group B,associate's degree,free/reduced,none,group10,46,61,55
39,39,male,group B,associate's degree,free/reduced,none,group1,57,56,57

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [61]:
df = df.drop(columns=["index"])
df.head(n=10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [62]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

В нашей таблице числовым типом данных представляются только столбцы с оценками, а именно "math score", "reading score", "writing score"

In [63]:
scores = df[["math score", "reading score", "writing score"]]
scores_stats = scores.agg(['min', 'max', 'mean', 'std'])
scores_stats

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [64]:
df.isnull().values.any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [65]:
scores_stats.loc[['mean']]

      math score  reading score  writing score
mean      66.089         69.169         68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [66]:
scores_with_prep = df[["math score", "reading score", "writing score", "test preparation course"]]
scores_with_prep.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [67]:
print(*df.lunch.unique(), sep=', ')

standard, free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [68]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [69]:
passmark = 50

**Задание 10. Ответьте на вопросы:**

* Какая доля студентов сдала экзамен по математике (passmark >= 50)?
* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [70]:
all_math = df['math score']
print("Доля всех студентов, сдавших экзамен по математике:", 
      len(all_math[all_math >= passmark]) / len(df))

completed_math = df[df['test preparation'] == 'completed']['math score']
print("Доля студентов, проходивших курс подготовки к экзамену, которая сдала экзамен по математике:", 
      len(completed_math[completed_math >= passmark]) / len(completed_math))

typical_women_math = df[(df['gender'] == 'female') & (df['test preparation'] == 'none')]['math score']
print("Доля женщин, не проходивших курс подготовки к экзамену, которая не сдала экзамен по математике",
      len(typical_women_math[typical_women_math <= passmark]) / len(typical_women_math))

Доля всех студентов, сдавших экзамен по математике: 0.865
Доля студентов, проходивших курс подготовки к экзамену, которая сдала экзамен по математике: 0.9217877094972067
Доля женщин, не проходивших курс подготовки к экзамену, которая не сдала экзамен по математике 0.23353293413173654

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
* Для каждой этнической группы выведите средний балл за экзамен по чтению
* Для каждого уровня образования выведите минимальный балл за экзамен по письму

`%%timeit` измеряет среднее время (что более точно), но не выводит результат клетки и не сохраняет значения переменных. Поэтому буду использовать magic-method `%%time`

In [71]:
%%time

eth = df[['race/ethnicity', 'reading score']]
eth.groupby('race/ethnicity').mean()

CPU times: user 3.58 ms, sys: 0 ns, total: 3.58 ms
Wall time: 3.39 ms

                reading score
race/ethnicity
group A             64.674157
group B             67.352632
group C             69.103448
group D             70.030534
group E             73.028571

In [72]:
%%time

edu = df[['education', 'writing score']]
edu.groupby('education').min()

CPU times: user 4.46 ms, sys: 0 ns, total: 4.46 ms
Wall time: 4.13 ms

                    writing score
education
associate's degree             35
bachelor's degree              38
high school                    15
master's degree                46
some college                   19
some high school               10

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [73]:
%%time

from collections import defaultdict
eth_scores = defaultdict(int)
eth_count = defaultdict(int)

for i in range(len(df)):
    line = df.iloc[i]
    race = line['race/ethnicity']
    eth_count[race] += 1
    eth_scores[race] += line['reading score']

for gr in eth_scores:
    print(gr, eth_scores[gr] / eth_count[gr])

group B 67.35263157894737
group C 69.10344827586206
group A 64.67415730337079
group D 70.03053435114504
group E 73.02857142857142
CPU times: user 86.8 ms, sys: 0 ns, total: 86.8 ms
Wall time: 85.3 ms

In [74]:
%%time

edu = dict()

for i in range(len(df)):
    line = df.iloc[i]
    score = line['writing score']
    education = line['education']
    if education not in edu:
        edu[education] = score
    else:
        edu[education]  = min(edu[education], score)

for e, score in edu.items():
    print(e, score)

bachelor's degree 38
some college 19
master's degree 46
associate's degree 35
high school 15
some high school 10
CPU times: user 76.3 ms, sys: 0 ns, total: 76.3 ms
Wall time: 75.1 ms

Как видно, решение с помощью `pd.groupby()` в десятки раз быстрее навиного решения через питоновские циклы

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [75]:
new_df = df[['gender', 'education', 'math score', 'writing score', 'reading score']]
pd.pivot_table(new_df, index=['education', 'gender'])

                           math score  reading score  writing score
education          gender
associate's degree female   65.250000      74.120690      74.000000
                   male     70.764151      67.433962      65.405660
bachelor's degree  female   68.349206      77.285714      78.380952
                   male     70.581818      68.090909      67.654545
high school        female   59.351064      68.202128      66.691489
                   male     64.705882      61.480392      58.539216
master's degree    female   66.500000      76.805556      77.638889
                   male     74.826087      73.130435      72.608696
some college       female   65.406780      73.550847      74.050847
                   male     69.009259      64.990741      63.148148
some high school   female   59.296703      69.109890      68.285714
                   male     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [76]:
df = df.assign(Math_PassStatus='F', Writing_PassStatus='F', Reading_PassStatus='F')

df['Math_PassStatus'].where(df['math score'] < passmark, 'P', inplace=True)
df['Writing_PassStatus'].where(df['writing score'] < passmark, 'P', inplace=True)
df['Reading_PassStatus'].where(df['reading score'] < passmark, 'P', inplace=True)

statuses = df[['Math_PassStatus', 'Writing_PassStatus', 'Reading_PassStatus']]
statuses.apply(pd.value_counts)

   Math_PassStatus  Writing_PassStatus  Reading_PassStatus
P              865                 886                 910
F              135                 114                  90

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [77]:
df['OverAll_PassStatus'] = 'P'
df['OverAll_PassStatus'].where((df['Math_PassStatus'] == 'P') & (df['Writing_PassStatus'] == 'P') & (df['Reading_PassStatus'] == 'P'), 'F', inplace=True)

print('Сдали все экзамены:', df['OverAll_PassStatus'].value_counts().P)

Сдали все экзамены: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [78]:
def GetGrade(average_mark: int) -> str:
    if average_mark >= 90:
        return 'A'
    if 80 <= average_mark < 90:
        return 'B'
    if 70 <= average_mark < 80:
        return 'C'
    if 60 <= average_mark < 70:
        return 'D'
    if 50 <= average_mark < 60:
        return 'E'
    return 'F'

In [79]:
df['Grade'] = df.apply(lambda x: GetGrade(round((x['math score'] + x['writing score'] + x['reading score']) / 3)), axis=1)
df['Grade'].value_counts()

C    258
D    256
E    180
B    152
F    100
A     54
Name: Grade, dtype: int64